@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

main {
    min-height: 75vh;
}

.msg {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: solid 1px #000;
    text-align: center;
  }
  
  .msg.error {
    color: #842029;
    background-color: #F8D7DA;
    border-color: #F5C2C7;
  }
  
  .msg.success {
    color: #0F5132;
    background-color: #D1E7DD;
    border-color: #BADBCC;
  }

/* Navbar */
.navbar {
    background-color: #842029;
}

.navbar-brand img {
    width: 64px;
}

.navbar-nav a {
    color: #fff;
    font-size: 18px;
}

.navbar-nav a:hover {
    color: #F2C48D;
}

.navbar-nav span {
    color: #fff;
}

.navbar-nav span:hover {
    color: #fff;
}

.navbar button {
    background-color: #F2C48D;
    font-weight: bold;
    transition: .3s;
}

.navbar button:hover {
    background-color: none;
    border: 1px solid #F2C48D;
    font-weight: bold;
    color: #F2C48D;
}

.dropdown-menu a {
    color: #842029 !important;
}

.dropdown-menu a:hover {
    color: #F2C48D !important;
}

.dropdown-menu a:active {
    color: #F2C48D !important;
}



/* landingpage */

.main-header {
    background-image: url(../img/dogoculosamarelo.png);
    background-position: center;
    background-size: cover;
    padding: 100px;
}

.main-header-content {
    word-wrap: break-word;
    max-width: 550px;
    color: #fff;
}

.main-header-content h2 {
    font-size: 52px;
    font-weight: 700;
}

.main-header-content button {
    background-color: #fff;
    border-radius: 20px;
    font-weight: bold;
    transition: .3s;
}

.main-header-content button:hover {
    background-color: #842029;
    transform: scale(1.03);
}

/* Nossos serviços */
.main-nossos-servicos {
    background-color: #F2C48D;
}

.main-nossos-servicos h2 {
    font-size: 60px;
    font-weight: bold;
    color: #842029;
}

.main-nossos-servicos h4 {
    color: #842029;
}

.img-nossos-servicos img {
    width: 142px;
    height: 139px;
    border-radius: 50%;
}

.nossos-servicos-line-1 {
    padding-top: 50px;
}

.nossos-servicos-line-2 {
    padding-top: 100px;
}

.nossos-servicos-card {
    transition: .5s;
}

.nossos-servicos-card:hover {
    transform: scale(1.03);
}

/* agendamento */
.agendamento {
    background-color: #BF7534;
}

.agendamento-img {
    background-image: url(../img/agendamentoImg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.agendamento h4 {
    font-weight: bold;
    color: #fff;
    font-size: 32px;
}

.agendamento span {
    font-weight: bold;
    color: #842029;
}

.agendamento button {
    border-radius: 20px;
    font-weight: bold;
    background-color: #FEAD11;
    color: #842029;
    transition: .5s;
}

.agendamento button:hover  {
    border-radius: 20px;
    font-weight: bold;
    background-color: #FEAD11;
    color: #842029;
    transform: scale(1.03);
}

/* login */
.login-register {
    background-color: #F2C48D;
    height: 75vh;
    display: flex;
    align-items: center;
}

.login-form {
    background-color: #842029;
    border-radius: 20px;
    padding: 80px;
}


.login-header h2 {
    font-size: 42px;
    color: #fff;
}

.login-header p {
    font-size: 18px;
    color: #F2C48D;
}

.separator-login {
    background-color: #fff;
    height: 2px;
    width: 300px;
}

.login-form-card button {
    background-color: #F2C48D;
    color: #842029;
    font-weight: bold;
    transition: .5s;
}

.login-form-card button:hover {
    color: #842029;
    transform: scale(1.03);
    background-color: #F2C48D;
}

.login-form-card p {
    color: #fff;
}

.login-form-card a {
    color: #F2C48D;
    transition: .3s;
}

.login-form-card a:hover {
    color: #a88a64;
}


/* register */
.register {
    background-color: #F2C48D;
    height: 85vh;
    display: flex;
    align-items: center;
}

.register-form {
    background-color: #842029;
    border-radius: 20px;
    padding: 80px;
}


.register-header h2 {
    font-size: 42px;
    color: #fff;
}

.register-header p {
    font-size: 18px;
    color: #F2C48D;
}

.separator-register {
    background-color: #fff;
    height: 2px;
    width: 500px;
}

.register-form-card button {
    background-color: #F2C48D;
    color: #842029;
    font-weight: bold;
    transition: .5s;
}

.register-form-card button:hover {
    color: #842029;
    transform: scale(1.03);
    background-color: #F2C48D;
}

.register-form-card button:disabled {
    background-color: #F2C48D;
    color: #842029;
    font-weight: bold;
}

.register-form-card p {
    color: #fff;
}

.register-form-card a {
    color: #F2C48D;
    transition: .3s;
}

.register-form-card a:hover {
    color: #a88a64;
}

#email_error {
    display: none;
    font-weight: 600;
    color: #842029;
    background-color: #ff8690;
}

#password_error {
    display: none;
    font-weight: 600;
    color: #842029;
    background-color: #ff8690;
}

#email_error_employee {
    display: none;
    font-weight: 600;
    color: #842029;
    background-color: #ff8690;
}

#password_error_employee {
    display: none;
    font-weight: 600;
    color: #842029;
    background-color: #ff8690;
}


/* create pet */

.create-pet-form-container {
    max-width: 800px;
}

.create-pet-bg {
    background-image: url(../img/create-pet-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}

.separator-create-pet-form {
    background-color: #842029;
    height: 2px;
    width: 800px;
}

.create-pet-form input {
    border: 1px solid #842029;
    box-shadow: 10px rgba(0, 0, 0, 0) !important;
}

.create-pet-form input:focus {
    border: 1px solid #842029;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0) !important;
}

.create-pet-form textarea {
    border: 1px solid #842029;
    box-shadow: 10px rgba(0, 0, 0, 0) !important;
}

.create-pet-form textarea:focus {
    border: 1px solid #842029;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0) !important;
}

.create-pet-form button {
    background-color: #F2C48D;
    color: #842029;
    font-weight: bold;
    transition: .5s;
}

.create-pet-form button:hover {
    color: #842029;
    transform: scale(1.03);
    background-color: #F2C48D;
}

.create-pet-image-preview {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-image: url(../img/pet_preview_default_bg.jpg);
}

/* create schedule */


/* Footer */
footer {
    color: #fff;
    font-size: 18px;
    background-color: #842029;
}