@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}


/* Navbar */
.navbar {
    background-color: #842029;
}

.navbar-brand img {
    width: 64px;
}

.navbar-nav a {
    color: #fff;
    font-size: 18px;
}

.navbar-nav a:hover {
    color: #F2C48D;
}

.navbar-nav span {
    color: #fff;
}

.navbar-nav span:hover {
    color: #fff;
}

.navbar-nav button {
    background-color: #F2C48D;
    font-weight: bold;
    transition: .3s;
}

.navbar-nav button:hover {
    background-color: none;
    border: 1px solid #F2C48D;
    font-weight: bold;
    color: #F2C48D;
}


/* landingpage */
main {
    min-height: 70vh;
}

.main-header {
    background-image: url(../img/dogoculosamarelo.png);
    background-position: center;
    background-size: cover;
    padding: 100px;
}

.main-header-content {
    word-wrap: break-word;
    max-width: 550px;
    color: #fff;
}

.main-header-content h2 {
    font-size: 52px;
    font-weight: 700;
}

.main-header-content button {
    background-color: #fff;
    border-radius: 20px;
    font-weight: bold;
    transition: .3s;
}

.main-header-content button:hover {
    background-color: #842029;
    transform: scale(1.03);
}

/* Nossos serviços */
.main-nossos-servicos {
    background-color: #F2C48D;
}

.main-nossos-servicos h2 {
    font-size: 60px;
    font-weight: bold;
    color: #842029;
}

.main-nossos-servicos h4 {
    color: #842029;
}

.img-nossos-servicos img {
    width: 142px;
    height: 139px;
    border-radius: 50%;
}

.nossos-servicos-line-1 {
    padding-top: 50px;
}

.nossos-servicos-line-2 {
    padding-top: 100px;
}

.nossos-servicos-card {
    transition: .5s;
}

.nossos-servicos-card:hover {
    transform: scale(1.03);
}

/* agendamento */
.agendamento {
    background-color: #BF7534;
}

.agendamento-img {
    background-image: url(../img/agendamentoImg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.agendamento h4 {
    font-weight: bold;
    color: #fff;
    font-size: 32px;
}

.agendamento span {
    font-weight: bold;
    color: #842029;
}

.agendamento button {
    border-radius: 20px;
    font-weight: bold;
    background-color: #FEAD11;
    color: #842029;
    transition: .5s;
}

.agendamento button:hover  {
    border-radius: 20px;
    font-weight: bold;
    background-color: #FEAD11;
    color: #842029;
    transform: scale(1.03);
}

/* Footer */
footer {
    color: #fff;
    font-size: 18px;
    background-color: #842029;
}